## This exercise has been done in acccordance with tutorial videos on KGP Talkie YouTube Channel.

In [1]:
import pandas as pd
import numpy as np
import spacy
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv', encoding='latin1')

In [19]:
def char_counts(x):
    s = x.split()
    x = ''.join(s)
    return len(x)
# this function will counts only letters i.e. while counting
# total number of characters we want blank spaces to be ignored

In [17]:
df['char_counts'] = df['twitts'].apply(lambda x: char_counts(str(x)))

In [18]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts
382,Life is confusing,0,3,15
2767,But would be great bonus if mr commercial sale...,1,23,109
497,@MikeBallantyne damn! I was just running there...,0,12,60
2023,"Aw na my bad, i just can't wait to be king fro...",1,20,76
1551,according to the 2009 Cedar Point Rider Safety...,0,26,110