## This exercise has been done in acccordance with tutorial videos on KGP Talkie YouTube Channel.

In [1]:
import pandas as pd
import numpy as np
import spacy
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv', encoding='latin1')

In [5]:
len('This is a string') #this counts number of characters

16

In [10]:
len('This is a string'.split( ))
#split() function separates words and returns a list of individual words.

4

In [11]:
df['word_counts'] = df['twitts'].apply(lambda x: len(str(x).split()))

In [12]:
df.sample(5)

,twitts,sentiment,word_counts
588,spent about 2 hours in tailbacks this weekend,0,8
3230,@bluvox thank you! I really feel a lot better ...,1,17
179,studying for exams! I can't wait or summer. 2...,0,12
3631,Decided to finally jump on the Twitter bus!,1,8
891,"@dougiemcfly NO, you is not stupid",0,6

In [13]:
df['word_counts'].max()

32

In [14]:
df['word_counts'].min()

1

In [16]:
df[df['word_counts']==1]
# it will display tweets with one word only.

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1